img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
}

#tally {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
}

.win {
    outline: 3px solid limegreen;
}

.lose {
    outline: 3px solid tomato;
}

.draw {
    outline: 3px solid grey;
}

.github-icon {
    position: absolute;
    top: 10px;       /* Adjust as needed */
    right: 10px;     /* Adjust as needed */
    font-size: 24px; /* Adjust size as needed */
    color: #000;     /* Color of the icon, adjust as needed */
    text-decoration: none;
}

.github-icon:hover {
    color: #555;     /* Change color on hover, adjust as needed */
}


